<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSC e-Gov | Digital Seva Portal</title>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="styles/styles.css" />
  <link rel="icon" href="Images\favicon.png">

</head>

<body>
  <header class="fixed-top">
    <div class="row" style="background-color: white;">
      <div class="col-md-6 header">
        <img src="Images/csc.jpg" style="height: 40px; width: 70px;" />
        <img src="Images/phone-call.png" style="height: 10px; width: 10px; margin-left: 10px;" />
        <span style="font-weight: 500; font-size: 0.9rem;">1800 121 3468</span>
      </div>
      <div class="col-md-6 header1">
        <a style="text-decoration: none;" href="/register"><span
            style="font-weight: 500; font-size: 0.9rem; color: black; letter-spacing: 1px; margin-right: 20px;">
            REGISTER</span></a>
        <a href="/login"><img src="Images/lock.png" style="height: 10px; width: 10px;" /></a><a
          style="text-decoration: none;" href="/login"><span
            style="font-weight: 500; font-size: 0.8rem; color: black; letter-spacing: 1.5px;">
            LOGIN</span></a>
        <img src="Images/digital-india.png" style="height: 25px; width: 100px; margin-left: 20px;" />
      </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="Images/digital_seva.png" style="width: 150px; height: 30px;" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" style="margin-right: 20px;">
            <a class="nav-link" href="#"><span style="font-weight: 500; font-size: 0.9rem;">HOME</span></a>
          </li>
          <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" href="#"><span style="font-weight: 500; font-size: 0.9rem;">
                CSC SERVICES</span></a>
          </li>
          <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" href="#"><span style="font-weight: 500; font-size: 0.9rem;">DIGIMAIL</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="sec-1">
    <div id="carouselExampleControls" class="carousel slide text-center" data-ride=" carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4 sec-1-block k" style="background-color: #eb4559; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-gov">GOVERNMENT</h2>
              <h2 class="l" style="font-family: 'Bree Serif', serif; margin-bottom: 20px; letter-spacing: 4px;">SERVICES
              </h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>
            </div>
            <div class="col-md-4 sec-1-block f" style="background-color: #899857; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-heading a">
                INSURANCE</h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>

            </div>
            <div class="col-md-4 sec-1-block g" style="background-color: skyblue; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-heading b">
                EDUCATION</h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4 sec-1-block h" style="background-color: #eb4559; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-heading c">
                BANKING</h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>

            </div>
            <div class="col-md-4 sec-1-block i" style="background-color: #899857; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-heading d">
                B2C SERVICES</h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>

            </div>
            <div class="col-md-4 sec-1-block j" style="background-color: skyblue; height: 320px; color: whitesmoke;">
              <h2 class="sec-1-heading e">
                TRAVEL</h2>
              <button type="button" class="btn btn-outline-light" style="border-width: 1.5px;">BROWSE</button>

            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-right: 100px;"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="margin-left: 100px;"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </section>

  <section id="sec-2">
    <div class="container-fluid text-center">
      <h3 style="font-family: 'Bree Serif', serif; margin-bottom: 50px; letter-spacing: 4px;">FEATURED</h3>
    </div>
    <div class="row ">
      <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="card sec-2-card" style="text-align: center; margin:auto;">
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Bree Serif', serif;">DIGITAL SEVA PORTAL V2.0</h5>
            <hr>
            <img src="Images/dsp_small_v2.jpg" style="width: 250px; height: 150px; margin-bottom: 20px;" />
            <p class="card-text" style="font-size: 0.9rem; margin-bottom: 20px;">
              Digital Seva Portal V2.0 (Beta) comes with Enhanced features and
              more user friendly interface.Hit button to view video on youtube
              and give your feedback.
            </p>
            <button type="button" class="btn sec-2-button">VIEW</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="card sec-2-card" style="text-align: center; margin:auto;">
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Bree Serif', serif;">INSURANCE</h5>
            <hr>
            <p class="card-text" style="margin-top: 40px;">
              CSC SPV acquired license from Insurance Regulatory and
              Development Authority in 2013 to work as an authorized
              intermediary to market life and non-life insurance products
              through VLEs as Rural Authorised Persons.
            </p>
            <button type="button" class="btn sec-2-button" style=" margin-top: 90px;">BROWSE</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card sec-2-card" style="text-align: center; margin:auto;">
          <div class="card-body">
            <img src="Images/corona_notify.jpg" style="width: 280px; height: 180px; margin-top: 10px;" />
            <p class="card-text" style="margin-bottom: 0px; margin-top: 20px;">
              Novel Coronavirus
            </p>
            <p style="margin-top: 0px;">Protect yourself and others</p>
            <button type="button" class="btn sec-2-button" style="margin-top: 30px;">VIEW</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-3">
    <div class="row">
      <div class="col-md-8">
        <div
          style="background-color: snow;  margin-top: 40px;margin-right: 20px; margin-bottom: 40px; margin-left: 20px; padding: 30px;">
          <a href="#"><img src="Images/mail.png" style="height: 25px; width: 25px;" /><a href="#"
              style="text-decoration: none;"><span style="font-weight: 500; color: black; font-size: 1.2rem;">
                DIGIMAIL</span></a>
            <p style="margin-top: 20px; color: #706c61;">
              The email service is offered free of cost to CSC Network users
              under the CSC 2.0 Project. DigiMail is the unique email id which
              will be provided to all the applicants on successful registration
              and re-registration.
            </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center"
          style="background-color: snow; margin-top: 40px;margin-right: 20px; margin-bottom: 40px; margin-left: 20px; padding: 30px;">
          <img src="Images/csc.jpg" style="height: 70px; width: 120px; margin-right: 20px;" />
          <img src="Images/digital india.jpg" style="height: 60px; width: 140px;" />
        </div>
      </div>
    </div>
  </section>
  <section id="sec-4">
    <div class="row container" style="margin:auto; margin-top: 50px;">
      <div class="col-md-3 col-sm-6">
        <h5 style="font-family: 'Bree Serif', serif; margin-top: 5px;">INFORMATION</h5>
        <p style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: grey; font-size: 0.9rem;">About
            Us</a></p>
        <p style="margin-bottom: 5px;"><a href="#"
            style="text-decoration: none; color: grey; font-size: 0.9rem;">News</a></p>
        <p style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: grey; font-size: 0.9rem;">Terms
            & Privacy Policy</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 style="font-family: 'Bree Serif', serif; margin-top: 5px;">CONNECT</h5>
        <p style="margin-bottom: 5px;"><a href="#"
            style="text-decoration: none; color: grey; font-size: 0.9rem;">Registration</a></p>
        <p style="margin-bottom: 5px;"><a href="#"
            style="text-decoration: none; color: grey; font-size: 0.9rem;">DigiPay</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 style="font-family: 'Bree Serif', serif; margin-top: 5px;">HELP</h5>
        <p style="margin-bottom: 5px;"><a href="#"
            style="text-decoration: none; color: grey; font-size: 0.9rem;">Care</a></p>
        <p style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: grey; font-size: 0.9rem;">RD
            Service Installation Manual</a></p>
        <p style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: grey; font-size: 0.9rem;">NACO |
            Toll Free No : 1097</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 style="font-family: 'Bree Serif', serif; margin-top: 5px;">ACCOUNT</h5>
        <p style="margin-bottom: 5px;"><a href="#" style="text-decoration: none; color: grey; font-size: 0.9rem;">CSC
            Connect</a></p>
        <p style="margin-bottom: 5px;"><a href="#"
            style="text-decoration: none; color: grey; font-size: 0.9rem;">Digimail</a></p>
      </div>
    </div>
  </section>
  <section id="sec-5">
    <div class="row text-center">
      <div class="col-md-4">
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">CSC E-Governance Services India Limited</p>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">Ministry of Electronics & Information Technology
        </p>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">Government of India</p>
      </div>
      <div class="col-md-4">
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">Helpline: 1800 121 3468</p>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">E-Mail: support@csc.gov.in</p>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">FAQ</p>
      </div>
      <div class="col-md-4">
        <a href=""><img src="Images\facebook.png" style="height: 30px; width: 30px; margin-right: 30px;" /></a>
        <a href=""><img src="Images\twitter.png" style="height: 30px; width: 30px; margin-right: 30px" /> </a>
        <a href=""><img src="Images\youtube.png"
            style="height: 30px; width: 30px; margin-bottom: 10px; margin-top: 10px" /></a>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">Copyright 2020 CSC E-Governance Services India
          Limited.</p>
        <p style="color: white; font-size: 0.8rem; margin-bottom: 0px;">All rights reserved</p>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script>
    $(".f").hover(function () {
      $(".a").after(
        "<p><a>Life Insurance Premium Payment</a></p><p><a>Insurance Sales</a></p><p><a>RAP Registration</a></p><p><a>VLE-Insurance Registration</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });

    $(".g").hover(function () {
      $(".b").after(
        "<p><a>Tally Kaushal Praman Patra</a><p><a>Tally Certified Program</a></p><p><a>NIOS Services</a></p><p><a>NIELIT SERVICES</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });

    $(".h").hover(function () {
      $(".c").after(
        "<p><a>Digi Pay</a></p><p><a>Pradhan Mantri Jan Dhan Yojna</a></p><p><a>Financial Literacy</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });

    $(".i").hover(function () {
      $(".d").after(
        "<p><a>Electricity and Water Bill Payment</p><p><a>VLE Bazaar</a></p><p><a>Health</a></p><p><a>Agriculture</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });

    $(".j").hover(function () {
      $(".e").after(
        "<p><a>Railway</a></p><p><a>Airline</a></p><p><a>Bus</a></p><p><a>Hotels</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });

    $(".k").hover(function () {
      $(".l").after(
        "<p><a>Election</a></p><p><a>Aadhaar</a></p><p><a>Passport</a></p><p><a>Pan Card</a></p>"
      );
      $(".sec-1-block a").attr("href", "#");
      $(".sec-1-block a").addClass("sec-1-link");
    }, function () {
      $(".sec-1-block a").remove();
    });
  </script>

</body>

</html>