<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Digitalseva Connect</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="icon" href="Images\favicon.png" />
</head>

<body>




  <div class="row">
    <div class="col-md-6">
      <img src="Images/digital seva connect.png" style="margin: 70px 60px;" />
      <div class="text-center" style="margin-top: 40px;">
        <h3 style="margin-bottom: 30px;">HELLO, <%= name %></h3>
        <h3>WELCOME TO DIGITAL SEVA</h3>
      </div>
      <div class="text-center" style="margin-top: 100px;">
        <a href="/logout"><button type="submit" class="btn"
            style="background-color: #25d4f6; color: white; font-weight: 500;">
            LOG OUT
          </button></a>
      </div>

      <div class="text-center" style="margin-top: 180px; margin-bottom: 20px;">
        <a href="" style="text-decoration: none;"><img src="Images/mail.png" style="height: 15px; width: 15px;" /><span
            style="margin-right: 20px; color: #8ac6d1;">
            support@csc.gov.in
          </span></a>
        <a href="" style="text-decoration: none;"><img src="Images/phone-call.png"
            style="height: 15px; width: 15px;" /><span style="margin-right: 20px; color: #8ac6d1;">
            1800 3000 3468
          </span></a>
        <a href="" style="text-decoration: none;"><img src="Images/twitter.png"
            style="height: 15px; width: 15px;" /><span style="margin-right: 20px; color: #8ac6d1;">
            Digitalseva</span></a>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background-color: #25d4f6; padding-top: 70px;">
        <div style="
              background-color: white;
              text-align: right;
              padding: 10px 0px;
            ">
          <img src="Images\digital india.jpg" style="width: 150px; height: 60px;" />
          <img src="Images\csc.jpg" style="width: 130px; height: 60px; margin-right: 20px;" />
        </div>
        <div style="color: white; margin-top: 150px; margin-left: 50px;">
          <h5 style="font-weight: 500;">Welcome to Digital Seva Connect</h5>
          <p style="margin-bottom: 0px; margin-top: 30px;">
            Gateway to CSC Network!
          </p>
          <p>
            Digital Seva Connect is a secure authentication system for
            connecting our users to services available on Digital Seva portal.
            Enter your username and password here to authenticate your log-in
            and enjoy seamless access to Digital Seva portal.
          </p>
        </div>
        <div style="
              color: white;
              font-size: 0.6rem;
              margin-top: 200px;
              padding-bottom: 20px;
            " class="row">
          <div class="col-md-4" style="padding-left: 30px;">
            <span>Terms & Conditions | Privacy Policy</span>
          </div>
          <div class="col-md-8 text-right" style="padding-right: 30px;">
            <span>Copyright © 2016 CSC E-Governance Services India Limited. All
              rights reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>